@import "../config";
@import "../sprites/sprites-svg";

.bottomContacts {
  font-size: 16px;
  letter-spacing: -.3px;
  padding: 55px 0 0;
  text-align: center;

  a {
    color: #36373c;
  }

  li {
    margin-bottom: 20px;
  }

  .shareTitle {
    display: none;
  }

  .contacts {
    &:before {
      content: '';
      display: inline-block;
      @include sprite-svg($sprite-main-search);
      margin: -1px 10px -5px 0;
    }
  }

  .email {
    &:before {
      content: '';
      display: inline-block;
      @include sprite-svg($sprite-main-envelope);
      margin: 1px 14px -1px;
    }
  }

  @media (min-width: $media-tablet) {
    padding-bottom: 113px;

    > ul {
      display: flex;
      justify-content: space-between;

      > li:first-child,
      > li:last-child {
        flex-grow: 1;
        text-align: left;
      }

      > li:last-child {
        text-align: right;
      }
    }
  }

  @media (min-width: $media-desktop) {
    .ya-share2, .shareTitle {
      display: inline-block;
    }

    .ya-share2 {
      margin-left: 15px;
      transform: translateY(-1px);
    }
  }
}