@import "../sprites/sprites-svg";

.calcButton {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  height: 42px;
  line-height: 42px;
  letter-spacing: -.25px;
  background: #36373c;
  font-size: 12px;
  text-transform: uppercase;
  text-indent: 63px;
  transition: background-color .2s;
  position: relative;
  width: 165px;

  &:hover {
    background-color: #000;
  }

  &:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    @include sprite-svg($sprite-main-calc);
  }
}

.blackButton, .whiteButton {
  background: transparent;
  border: 1px solid #999999;
  color: #000;
  display: inline-block;
  font-size: 12px;
  letter-spacing: -.3px;
  padding: 9px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;

  &.rightArrow:after {
    border-right-color: #000;
    border-top-color: #000;
    margin-left: 8px;
  }

  &:hover {
    color: #fff;
    background: #ff6c00;
    border-color: #ff6c00;

    &.rightArrow:after {
      border-right-color: #fff;
      border-top-color: #fff;
    }
  }
}

.whiteButton {
  border-color: rgba(255, 255, 255, .6);
  color: white;

  &.rightArrow:after {
    border-right-color: #fff;
    border-top-color: #fff;
  }
}

.rightArrow {
  &:after {
    border-right: 2px solid white;
    border-top: 2px solid white;
    content: '';
    display: inline-block;
    height: 5px;
    margin-left: 20px;
    margin-bottom: 1px;
    transform: rotate(45deg);
    transition: transform .2s;
    width: 5px;
  }

  &:hover {
    &:after {
      transform: rotate(45deg) translateX(2px) translateY(-2px);
    }
  }
}