@import "../config";
@import "../sprites/sprites-svg";

footer {
  background: $color-dark-gray url('../images/footer.png') top center;
  background-size: cover;
  color: white;
  letter-spacing: -.3px;
  margin-top: 1px;
  padding: 20px 0;
  text-align: center;

  .copy {
    font-size: 15px;

    small {
      display: block;
      font-size: 13px;
      margin-top: 9px;
      opacity: .6;
    }
  }

  .social-icons {
    display: inline-block;
    margin: 15px auto;
  }

  nav {
    li {
      display: inline-block;
      margin: 0 5px;
    }

    a {
      color: #fff;
    }
  }

  @media (min-width: $media-tablet) {
    background-size: auto;
    height: 118px;
    text-align: left;
    padding: 0;

    .container {
      display: flex;
      align-items: center;
      height: 118px;

      > * {
        flex-grow: 1;
      }
    }

    .copy {
      small {
        margin-top: 8px;
      }
    }

    .social-icons {
      width: 200px;
      flex-grow: 0;
      flex-shrink: 1;

      a {
        margin-left: 43px;
        transform: scale(1.6);

        &:hover {
          transform: scale(2);
        }
      }
    }
    
    nav {
      text-align: right;

      li {
        display: block;
        margin: 5px 0 5px 33px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  @media (min-width: $media-desktop) {
    .container {
      position: relative;
    }

    .copy, nav {
      width: 50%;
    }

    .copy {
      padding-left: 56px;
      padding-right: 90px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include sprite-svg($sprite-main-logo-symbol-small)
      }
    }

    .social-icons {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: 0;
      transform: translateX(-50%) translateY(-50%);
    }

    nav {
      padding-left: 90px;

      li {
        display: inline-block;
      }
    }
  }
}