.container {
  margin: 0 20px; }
@media (min-width: 760px) {
  .container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1528px;
    padding-left: 26px;
    padding-right: 26px; } }
@media (max-width: 760px) {
  .container.mobileWide {
    margin: 0; } }
.container.wide {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%; }
@media (min-width: 1200px) {
  .container.wide {
    max-width: 1476px; } }
.container.withSidebar {
  margin-top: 53px; }
.container.withSidebar .sidebar {
  display: none; }
.container.withSidebar h3 {
  color: #ff7e00; }
@media (min-width: 760px) {
  .container.withSidebar h2, .container.withSidebar h3 {
    text-align: left; }
  .container.withSidebar h2 {
    margin: 0 0 8px; }
  .container.withSidebar h3 {
    font-size: 19px;
    letter-spacing: .8px;
    margin: 61px 0 29px; } }
@media (min-width: 1200px) {
  .container.withSidebar {
    overflow: hidden; }
  .container.withSidebar > .main {
    padding-left: 255px; }
  .container.withSidebar .sidebar {
    display: flex;
    float: left;
    width: 220px; }
}

.page-style {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1 0 auto;
  }
}
.page-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.user-layout {
  display: flex;
}