@import "../config";
@import "../sprites/sprites-svg";

.galleryBlock {
  margin: 4px 0 38px;
  text-align: center;

  h3 {
    font-size: 20px!important;
    margin: 0 0 19px!important;
    letter-spacing: -.25px!important;
  }

  ul {
    overflow: hidden;
  }

  li {
    display: inline-block;
    margin: 12px;

    a {
      background: #000;
      border: 1px solid #cacbcf;
      display: block;
      height: 180px;
      position: relative;
      width: 240px;

      &:hover {
        border-color: #ff6c00;

        &:before {
          box-shadow: inset 0 0 0 3px #ff6c00;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 5;
        }

        &:after {
          content: '';
          left: 50%;
          margin-left: -(calc(nth($sprite-main-zoom, 5) / 2));
          margin-top: -(calc(nth($sprite-main-zoom, 6) / 2));
          position: absolute;
          top: 50%;
          z-index: 6;

          @include sprite-svg($sprite-main-zoom);
        }

        img {
          opacity: .5;
        }
      }
    }

    img {
      max-height: 178px;
      max-width: 238px;
    }
  }

  &.video {
    li {
      a {
        border: none;
        height: 189px;
        width: 335px;
      }

      img {
        max-height: 189px;
        max-width: 335px;
      }
    }
  }

  .blackButton {
    display: inline-block;
    margin: 20px auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 113px;
  }

  @media (min-width: $media-tablet) {
    text-align: left;

    li {
      margin: 0 28px 23px 0;
    }

    .blackButton {
      margin-top: 10px;
    }

    &.video {
      li {
        margin: 0 20px 23px 0;
      }
    }
  }

  @media (min-width: 1480px) {
    position: relative;

    .blackButton {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}